body{
  margin: 0px;
  padding: 0px;
  display: block;
  background-color: rgb(99, 69, 49);
}

.nav{
  background-color: rgb(223, 158, 103);
  margin-top: 60px;
  height: 400px;
  width: auto;
  padding: 0px;
  margin-bottom: 20px;
}

.pic-holder{
  height: 250px;
  width: 250px;
  float: left;
  padding: 0px;
  margin-top:0px;

}

p{
  font-family: roboto-slab;
  color: black;
  align-self: center;
  margin-top: 175px;
  display: block;
  font-size: 65px;
  float: left;
}

label {
  font-family: lato;
  font-style: normal;
  font-size: 15px;
  font-weight: bold;
  color: #ffffff;
  margin-top: 10px;
}

.btn{
  margin-bottom: 30px;
  margin-top: 10px;
  align-self: baseline;
}

/*.row{
  float: left;
  align-content: center;
}



.col-md-4{
  width: 200px;
  height:200px;
  margin: 10px;
  padding: 0Px;
  float:left;
  align-content: center;
}
*/
